/* src/styles/volunteer-directory-page.css */

.volunteer-directory-page {
  width: 100%;
}

.volunteer-directory-breadcrumb,
.volunteer-directory-header,
.volunteer-directory-intro,
.volunteer-directory-table {
  padding: var(--cr-space-4);
  max-width: 1400px;
  margin: 0 auto;
}
