/* CrAppHeader.css */
.cr-app-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--cr-space-2);
}

.landing-page .cr-app-header {
  margin-bottom: 0;
}
