/* CrList.css */

.cr-rating-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--cr-space-2);
  overflow: hidden;
  background-color: var(--cr-default-100);
  border: 1px solid var(--cr-default-300);
  width: 100%;
}

.cr-rating-card__list {
  padding: 0 var(--cr-space-4) var(--cr-space-4);
  display: flex;
  flex-direction: column;
}

/* Remove bottom padding from banner when inside CrList */
.cr-rating-card .cr-card-title-banner--tall.cr-card-title-banner--stacked .cr-card-title-banner__content {
  padding-bottom: 0;
}
